@font-face {
    font-family: 'Major Mono Display';
    src: url('MajorMonoDisplay-Regular.eot');
    src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'),
        url('MajorMonoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('MajorMonoDisplay-Regular.woff2') format('woff2'),
        url('MajorMonoDisplay-Regular.woff') format('woff'),
        url('MajorMonoDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

