@import "../variables";

.intro-header {
  background-color: $bg;
  overflow: hidden;

  .title-section {
    padding: 150px 20px 80px;
    font-size: 60px;
    align-items: center;

    h1 {
      flex-grow: 1;
      font-weight: 300;
      font-size: 35px;

      .bolder-header {
        .software {
          position: relative;
          left: 15%;
          font-weight: 300;
          font-size: 50px;
          font-style: italic;
          font-family: sans;

          b {
            font-weight: 900;
            font-family: sans;
          }
        }

        .engineer {
          position: relative;
          left: 20%;
          font-weight: 300;
          font-size: 50px;
          font-style: italic;
          font-family: sans;

          b {
            font-weight: 900;
            font-family: sans;
          }
        }
      }
    }
  }

  .photo-section {
    display: none;
  }

  .tooltip {
    position: relative;
  }

  .tooltip .tooltiptext {
    position: absolute;
    top: 50%;
    left: 130%;
    transform: translate(0, -50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
    background-color: $grey;
    color: $white;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 300;
  }

  .tooltip .tooltiptext::after {
    position: absolute;
    content: " ";
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $grey transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .download-cv {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-decoration: none;

    i {
      color: rgba($grey, 0.5);
      font-size: 34px;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:active {
        color: $grey;
      }
    }

    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 480px) {
  .intro-header {
    .title-section {
      padding: 70px 20%;
      font-size: 60px;
      align-items: center;

      h1 {
        .bolder-header {
          .software {
            font-size: 70px;
          }

          .engineer {
            font-size: 70px;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .intro-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));

    .title-section {
      display: flex;
      flex: 1 0 50%;
      padding: 20px 10%;
      font-size: 50px;
      justify-content: center;
      align-items: center;

      h1 {
        .bolder-header {
          .software {
            font-size: 50px;
          }

          .engineer {
            font-size: 50px;
          }
        }
      }

      .email-me-btn {
        span {
          font-size: 12px;
        }
      }
    }

    .photo-section {
      display: flex;
      flex: 1 0 50%;
      padding: 20px;

      img {
        width: 100%;
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .intro-header {

    .title-section {
      padding: 20px 30%;

      h1 {
        font-size: 50px;

        .bolder-header {
          .software {
            left: 20%;
            font-size: 80px;
          }

          .engineer {
            left: 40%;
            font-size: 80px;
          }
        }
      }

      .email-me-btn {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .intro-header {

    .title-section {
      padding: 20px 30%;

      h1 {
        font-size: 60px;

        .bolder-header {
          .software {
            left: 20%;
            font-size: 110px;
          }

          .engineer {
            left: 40%;
            font-size: 110px;
          }
        }
      }

      .email-me-btn {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
