@import "../variables";

section.quote {
  position: relative;
  padding: 7% 10%;
  background-color: $greenbg;

  h4 {
    position: relative;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    line-height: 1.25;
    margin: 0;
    text-align: left;

    .transparent-body {
      opacity: 0;
    }

    .visible-body {
      position: absolute;
      top: 0;
      left: 0;

      .caret {
        font-weight: 300;
      }
    }

    .text {
      font-family: sans;
    }

    .author {
      font-size: 20px;
      position: absolute;
      bottom: -40px;
      right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  section.quote {
    h4 {}
  }
}