@import "variables";

$dotted-bg-radius: 7%;
$dotted-bg-position: 40px;
$dotted-bg-size: 80px;

body,
html {
  overflow-x: hidden;
}

.first-letter {
  font-weight: 700;
}

.bold {
  font-weight: bold;
  color: $grey;
}

.very-bold {
  font-weight: 900;
  color: $grey;
}

h3,
h2 {
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: $grey;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    color: $green;
  }
}

button {
  border: none;
  border-radius: 0;
  padding: 15px 60px;
  font-size: 18px;
  background-color: $white;
  font-weight: bold;
  margin-top: 80px;
  cursor: pointer;

  &:hover {
    background-color: $grey;
    color: $green;
  }
}

button {
  text-decoration: none;
  color: inherit;
}

button.email-me-btn {
  position: relative;
  margin: 50px 0 0;
  padding: 19px 22px;
  transition: all 0.2s ease;
  line-height: 1;
  background-color: transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($green, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: transparent;
    color: $black;

    &:before {
      width: 100%;
      background: rgba($green, 1);
    }

    svg {
      transform: translateX(0);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}

section.two-columns {
  display: flex;
  flex-direction: column;

  .mobile-hidden {
    display: none;
  }

  .left {
    padding: 15% 10% 5%;

    h3 {
      text-align: center;
    }
  }

  .right {
    padding: 5% 10% 15%;
  }
}

@media screen and (min-width: 768px) {
  section.two-columns {
    display: flex;
    flex-direction: row;

    .mobile-hidden {
      display: inline;
    }

    .left {
      flex: 1 0 40%;
      padding: 15% 3% 0 3%;
      box-sizing: border-box;

      h3 {
        font-size: 24px;
        text-align: left;
      }
    }

    .right {
      flex: 1 0 60%;
      padding: 10% 5% 10% 0;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: 1024px) {
  section.two-columns {
    .left {
      padding: 15% 0 0 5%;

      h3 {
        font-size: 30px;
      }
    }

    .right {
      padding: 10% 5% 10% 0;
    }
  }
}

p {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  padding: 19px 0;
  line-height: 1.5;
}

.only-print {
  display: none;
}

.print-mode {
  .do-not-print {
    display: none;
  }

  .only-print {
    display: block;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 36px;
    color: $grey;
  }

  h3,
  h4 {
    text-transform: uppercase;
    color: $green;
  }

  section.two-columns {
    display: flex;
    flex-direction: row;

    .mobile-hidden {
      display: none;
    }

    h3 {
      text-align: left;
    }

    .left {
      padding: 20px 40px;
      flex: 1 0 60%;
    }

    .right {
      padding: 20px 40px;
      flex: 1 0 40%;
      background-color: $bg;

      .box {
        padding: 19px 0;
      }
    }

    &.latest-projects {
      .left {
        padding: 0 40px;
      }

      .right {
        padding: 0 40px;

        .box.first {
          margin-top: 68px;
        }

        &.last {
          height: 265px;
        }
      }
    }
  }

  section.skills-list {
    .box {
      text-align: left;

      p {
        text-align: left;
      }
    }
  }
}
